.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-container {
  width: 90%;
  margin: 40px auto;
}

.movie-div {
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 10px lightgrey;
}

.movie-card {
  width: 100%;
  height: 225px;
}

.poster-thumb {
  margin-top: -15px;
  margin-left: -15px;
}

.movie-basic-details {
  text-align: left;
  display: inline;
}

.movie-basic-details h3 {
  margin-top: 5px;
}

.movie-basic-details h4 {
  margin-top: 5px;
}
