.App {
  text-align: center;
}

.App-header {
  margin-top: -15px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #bbb;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #081c24;
}

.App-link {
  color: #61dafb;
}

.search-bar {
  width: 141px !important;
}

.page-container {
  width: 90%;
  max-width: 1050px;
  margin: 40px auto !important;
}

.list-container {
  width: 90%;
  max-width: 950px;
  margin: 40px auto;
}

.movie-div {
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 10px lightgrey;
}

.movie-div a {
  color: black;
}

.movie-card {
  width: 100%;
  height: 225px;
}

.poster-thumb {
  margin-top: -15px;
  margin-left: -15px;
}

.movie-basic-details {
  height: 200px;
  text-align: left;
}

.movie-basic-details h4 {
  margin-top: -5px;
  font-weight: 500;
}

.movie-basic-details p {
  height: 60px;
  overflow-y: auto;
}

.movie-details {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.poster-full {
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 20px;
}

.overview {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rating-badge {
  height: 100px;
  width: 100px;
  border-width: 3px !important;
  color: #777;
}

.credits-container {
  width: 100%;
  height: 405px;
  overflow-x: auto;
  padding-left: 2px;
}

.credits-list {
  height: 375px;
  display: inline-flex;
}

.credit-card {
  float: left;
  margin-top: 2px !important;
  margin-right: 10px !important;
  height: 375px;
  max-width: 150px !important;
  display: inline-table;
}

.credit-card-header {
  font-size: 14px !important;
}

.credit-card-meta {
  font-size: 12px !important;
}

.logo {
  width: 130px;
  margin-bottom: 30px;
}


/* Media Queries */
@media screen and (min-width: 550px) {
  .search-bar {
    width: auto !important;
  }
  .poster-full {
    width: 40%;
  }
  .movie-details {
    width: 60%;
    padding-top: 40px;
    padding-left: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 650px) {
  .poster-full {
    width: 35%;
  }
  .movie-details {
    width: 65%;
    padding-left: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 750px) {
  .movie-details {
    padding-top: 0px;
  }
  .overview {
    width: 65%;
    padding-left: 30px;
  }
}

@media screen and (min-width: 900px) {
  .poster-full {
    width: 30%;
  }
  .movie-details {
    width: 70%;
    padding-left: 40px;
  }
  .overview {
    width: 70%;
    padding-left: 40px;
  }
}
